#clock {
    margin: 150px;
    text-align: center;
    font-size: 125px;
    line-height: 15%;
    color: #000000;
}
#grateful {
    margin: 150px;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    line-height: 20%;
}
